cffi==2.1.1
cyndilib==0.1.1
glcontext==3.0.0
moderngl==5.12.0
moderngl-window==3.1.1
numpy==2.4.6
pillow==12.3.0
psutil==7.2.2
pycparser==3.0
pyglet==2.1.16
pyglm==2.8.3
python-osc==1.10.2
sounddevice==0.5.6
opencv-python==5.0.0.93
cv2_enumerate_cameras==1.4.0
pyobjc-core==12.2.2; sys_platform == "darwin"
pyobjc-framework-AVFoundation==12.2.2; sys_platform == "darwin"
pyobjc-framework-Cocoa==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreAudio==12.2.2; sys_platform == "darwin"
pyobjc-framework-CoreMedia==12.2.2; sys_platform == "darwin"
pyobjc-framework-Quartz==12.2.2; sys_platform == "darwin"
